body{
    background-image: url(../images/floral.jpg);
    color: white;
}
.jumbotron{
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    background: black;
    text-align: center;
    margin: 20px auto;
    width: 85%;
}
h1{font-family: 'Libre Baskerville', serif;
}
.container{
    min-width: 80%;
}


